<%- include('partials/header') %> 
	<h1><%= category %>  Products - </h1>
	<ul>
		<% for(let product of allProduct) { %>
			<li> <a href="/products/<%= product._id %> "> <%= product.name %> </a>  </li>
		<% } %>  
	</ul>
	<a href="/products/new">Add new Product</a>
	<% if(category !== 'All') { %> 
	<a href="/products">All Products</a>
	<% } %> 
</body>
</html>